body{
    margin:0;
    padding:0;
    min-height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
body h1{
    position: absolute;
    top:0px;
    text-align: center;
}
.main{
    height: 600px;
    width: 450px;
    border:5px solid black;
    border-radius: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.display input[type="text"]{
    position: relative;
    top:-15px;
    width: 449px;
    height:150px;
    border-radius: 20px;
    font-size:200%;
    text-align: right;
    background-color: black;
    color:coral;
    border: 1px none black;
}
.button{
    width:100px;
    height: 75px;
    background-color: rgb(255, 127, 80);
    border:2px solid black;
    border-radius: 100px;
    margin :3.5px;
    transition: 0.001s ease-in;
}
#equal{
    width: 210px;
    background-color: orange;
}
#clear{
    width:210px;
    background-color: orange;
}
.button:active{
    transform: scale(1.25);
    background-color: rgb(219, 122, 87)
}

